body {
    font-family: "Heebo", sans-serif;
    font-weight: 200;
}

h1 {
    font-family: "Heebo", sans-serif;
    font-weight: 700;
}

h2, h3 {
    font-family: "Heebo", sans-serif;
    font-weight: 200;
}

h4 {
    padding-top: 20px;
}

p {
    font-size: 18px;
}

.display-4 {
    font-family: "Heebo", sans-serif;
    font-weight: 700;
}

h2 {
    color: #000;
}

.pt-6 {
    padding-top: 4rem;
}

.pt-7 {
    padding-top: 5rem;
}

.pt-8 {
    padding-top: 6rem;
}

.pt-9 {
    padding-top: 7rem;
}

.pt-10 {
    padding-top: 10rem;
}

.pb-6 {
    padding-bottom: 4rem;
}

.pb-7 {
    padding-bottom: 5rem;
}

.pb-8 {
    padding-bottom: 6rem;
}

.pb-9 {
    padding-bottom: 7rem;
}

.pb-10 {
    padding-bottom: 10rem;
}

.site-footer {
    background-color:darkgrey;
    color: white;
    padding: 10px 0;
    text-decoration: none !important;
}

.site-footer a {
    font-size: 20px;
    font-weight: 550;
}

.nav-item {
    font-weight: bold;
}

.nav-item-main:hover {
    border-bottom: 3px solid #000000;
}

.form-group-small {
    margin-bottom: 0rem;
}

.full-width-div {
    position: relative;
    width: 100%;
    left: 0;
}

.img-main {
    width: 100%;
    height: auto;
    max-height: 600px;
}

.img-three {
    width: 100%;
    height: auto;
    max-height: 300px;
}

.bg-gray {
    background-color: lightgray;
}

.bg-orange {
    background-color: #f8913d;
}

.btn-blue {
    background-color: #2769e3;
    color: white;
}

.btn-link-blue {
    color: #2769e3 !important;
    font-weight: bold;
}

.btn-orange {
    background-color: #f8913d;
    color: white;
}

.btn-pill {
    border-radius: 25px !important;
}

a {
    color: #2769e3;
}

@media (max-width: 767px) {
    h2, h3 {
        padding: 10px 10px 0 10px;
    }
    p {
        padding: 0 10px;
    }
    button {
        margin: 0 5px;
    }
}

.mobile-center {
    justify-content: center !important;
}

.myaccordion {
    width: 100%;
    margin: 50px auto;
    box-shadow: 0 0 1px rgba(0,0,0,0.1);
}

.myaccordion .card,
.myaccordion .card:last-child .card-header {
    border: none;
}

.myaccordion .card-header {
    max-width: 100%;
    border-bottom-color: lightgray;
    background: transparent;
}

.myaccordion .btn {
    width: 100%;
    font-size: 18px;
    color: #000;
    padding: 0;
}

.myaccordion .btn-link:hover,
.myaccordion .btn-link:focus {
    text-decoration: none;
}

.card-header > h2 button[aria-expanded="true"] .fa-minus {
    display: inline-block;
}

.card-header > h2 button[aria-expanded="true"] .fa-plus {
    display: none;
}

.card-header > h2 button[aria-expanded="false"] .fa-minus {
    display: none;
}

.card-header > h2 button[aria-expanded="false"] .fa-plus {
    display: inline-block;
}

.searchLink {
    cursor: pointer;
    display: block;
    float: right;
    font-size: 20px;
    height: 50px;
    padding: 10px 20px 15px 18.5px;
    position: relative;
}

.searchLink:hover,
.searchLink.open {
    cursor: pointer;
}

.searchLink.open > .searchForm {
    display: block;
}

.searchForm {
    display: none;
    position: absolute;
    width: 200px;
    height: 70px;
    line-height: 40px;
    top: 70px;
    right: 0;
    padding: 0 15px;
    cursor: default;
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: #e1e1e1;
    box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.2);
    margin-left: -120px;
    z-index: 9999999;
    background-color: #fff;
}

.searchLink.open .searchForm {
    display: block;
}

#search {
    display: block;
    position: relative;
}

#s {
    position: relative;
    width: 100%;
    background: #fff;
    padding: 0 11px;
    border: 1px solid #e1e1e1;
    border-right: none;
    color: #888;
    margin: 14px 0;
}

.sbtn {
    display: block;
    position: absolute;
    background: none;
    color: #fff;
    font-size: 0.6em;
    cursor: pointer;
    right: 14px;
    top: 14px;
    width: 35px;
    background-color: #f8913d;
}
