
body {
    font-family: "Heebo", sans-serif;
    font-weight: 200px;
}

h1, h2, h3 {
    font-family: "Heebo", sans-serif;
    font-weight: 700;
}

.display-4 {
    font-family: "Heebo", sans-serif;
    font-weight: 700;
}

h2 {
    color: #000;
}

.pt-6 {
    padding-top: 4rem;
}

.pt-7 {
    padding-top: 5rem;
}

.pt-7 {
    padding-top: 6rem;
}

.pt-8 {
    padding-top: 7rem;
}

.pt-9 {
    padding-top: 8rem;
}

.pt-10 {
    padding-top: 10rem;
}

.pb-6 {
    padding-bottom: 4rem;
}

.pb-7 {
    padding-bottom: 5rem;
}

.pb-7 {
    padding-bottom: 6rem;
}

.pb-8 {
    padding-bottom: 7rem;
}

.pb-9 {
    padding-bottom: 8rem;
}

.pb-10 {
    padding-bottom: 10rem;
}

.site-footer {
    color:darkgrey;
    padding: 20px 0;
}

.nav-item {
    font-weight: bold;
}

.nav-item:hover {
    border-bottom: 3px solid #000000;
}

.full-width-div {
    position: relative;
    width: 100%;
    left: 0;
}
