body {
    font-family: "Heebo", sans-serif;
    font-weight: 200;
}

h1 {
    font-family: "Heebo", sans-serif;
    font-weight: 700;
}

h2, h3 {
    font-family: "Heebo", sans-serif;
    font-weight: 200;
}

h4 {
    padding-top: 20px;
}

p {
    font-size: 18px;
}

.display-4 {
    font-family: "Heebo", sans-serif;
    font-weight: 700;
}

h2 {
    color: #000;
}

.pt-6 {
    padding-top: 4rem;
}

.pt-7 {
    padding-top: 5rem;
}

.pt-8 {
    padding-top: 6rem;
}

.pt-9 {
    padding-top: 7rem;
}

.pt-10 {
    padding-top: 10rem;
}

.pb-6 {
    padding-bottom: 4rem;
}

.pb-7 {
    padding-bottom: 5rem;
}

.pb-8 {
    padding-bottom: 6rem;
}

.pb-9 {
    padding-bottom: 7rem;
}

.pb-10 {
    padding-bottom: 10rem;
}

.site-footer {
    background-color:darkgrey;
    color: white;
    padding: 20px;
    text-decoration: none !important;
}

.site-footer a {
    font-size: 20px;
    font-weight: 550;
}

.nav-item {
    font-weight: bold;
}

.nav-item:hover {
    border-bottom: 3px solid #000000;
}

.full-width-div {
    position: relative;
    width: 100%;
    left: 0;
}

.bg-gray {
    background-color: lightgray;
}

@media (max-width: 767px) {
    h3 {
        padding-top: 10px;
        padding-left: 5px;
    }
    p {
        padding-left: 5px;
    }
    .button {
        padding-left: 5px;
    }
}

.myaccordion {
    width: 100%;
    margin: 50px auto;
    box-shadow: 0 0 1px rgba(0,0,0,0.1);
}

.myaccordion .card,
.myaccordion .card:last-child .card-header {
    border: none;
}

.myaccordion .card-header {
    max-width: 100%;
    border-bottom-color: lightgray;
    background: transparent;
}

.myaccordion .btn {
    width: 100%;
    font-size: 18px;
    color: #000;
    padding: 0;
}

.myaccordion .btn-link:hover,
.myaccordion .btn-link:focus {
    text-decoration: none;
}

.card-header > h2 button[aria-expanded="true"] .fa-minus {
    display: inline-block;
}

.card-header > h2 button[aria-expanded="true"] .fa-plus {
    display: none;
}

.card-header > h2 button[aria-expanded="false"] .fa-minus {
    display: none;
}

.card-header > h2 button[aria-expanded="false"] .fa-plus {
    display: inline-block;
}